img {
  width: 150px;
  height: auto;
  padding: 17px;
  margin: 16px;
  text-align: center;
  border-radius: 50px;
}

.card {
  display: grid;
  text-align: center;
  border-radius: 50px;
  box-shadow: 2px 2px 3px #ebecf1;
  padding: 1em;
  margin: 1em;
  background: white;

}

h1 {
  font-family: Roboto, sans-serif;
  color:  #006a71;
  font-weight: 700;
  text-align: center;

}


p {
  text-align: left;
  font-family: Lora, sans-serif;
  margin: 0;
}

h2 {
  text-align: center;
  color: rgb(34, 31, 59);
  font-weight: bold;
  font-family: Lora, sans-serif;
}

ul {
  text-align: center;
  font-family: Lora, sans-serif;
  list-style: none;

}

.social_media {
  display: inline-block;
  text-align: center;
  box-sizing: content-box;
}

.social_media i {
  font-size: 35px;
  padding: 35px;
  color: #dfd3c3;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}



